*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: bisque;
    text-align: center;
    padding: 20px;
    margin: auto;
    width: 700px;
    margin-top: 200px;  
    font-size: 30px;  
    border-radius: 20px;
    border: solid saddlebrown 10px;
}
